@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bourbon/bourbon";
@import "vendor/select2";
@import "variables";
@import "mixins/ie10-and-up";
@import "typography";
@import "components/flex-row";
@import "components/slide-media";
@import "components/container-bg";
@import "components/icon-card";
@import "components/aspect-ratio-box";
@import "components/annotated-image-container";
@import "components/customer-quote";
@import "components/animations";
@import "components/select2";
@import "utility-classes";

.cta-btn {
  font-size: 18px;
  padding: 4px 30px;
  transition: all .2s;

  @media (max-width: $screen-sm-min) {
    min-width: 240px;
  }

}

.jobs-content-row {
  min-height: 560px;
  background: $color-white;

  .jobs-pg-1 {
    background: url("/images/blogimages/working-at-gitlab/jobs-pg-1.png") center center no-repeat;
  }

  .jobs-pg-2 {
    background: url("/images/blogimages/working-at-gitlab/jobs-pg-2.png") center center no-repeat;
  }

  .jobs-pg-3 {
    background: url("/images/blogimages/working-at-gitlab/jobs-pg-3.jpeg") center center no-repeat;
  }

  .culture-image-container {
    background-size: cover;

    @media (max-width: $screen-md-min) {
      order: 1;
      height: 400px;
    }

  }

  .culture-content-container {

    @media (max-width: $screen-md-min) {
      order: 2;
    }

  }

  .culture-row-content {
    padding: 60px;
    max-width: 800px;

    li {
      margin-top: .5em;
    }

    .content-title {

      @media (max-width: $screen-md-min) {
        flex-wrap: wrap;
        justify-content: center;
      }

    }

    .cta-btn {
      margin-left: 40px;
      margin-top: 20px;
    }

    @media (max-width: $screen-md-min) {
      padding: 40px 20px;
    }

  }

  @media (max-width: $screen-md-min) {
    flex-wrap: wrap;
  }

}

// .culture-image {
//   max-width: none;
//   height: 100%;
//   position: absolute;
//   top: 0;
//
//   @media (max-width: $screen-md-min) {
//     width: 100%;
//     height: 100%;
//     position: relative;
//   }
//
// }
//
// .culture-image-right {
//   left: 0;
// }
//
// .culture-image-left {
//   right: 0;
// }

.content-icon {
  height: 120px;
}

.jobs-hero {
  padding: 160px 20px;
  background: url("/images/jobs-hero-bg.png") center center no-repeat;
  background-size: cover;
  color: $color-white;
  text-align: center;

  h1 {
    margin-top: 0;
  }

  p {
    font-size: 20px;
  }

  .play-icon {
    font-size: 14px;
    margin-right: 10px;
  }

  .logo {
    height: 40px;
    margin-bottom: 20px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

  }

  @media (max-width: $screen-sm-min) {
    padding: 120px 20px;
  }

}

.iframe-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $blog-color-image-to;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;

  iframe {
    background-color: $color-black;
    box-shadow: 0 10px 20px $color-transparent-alt;
    width: 77%;
    height: 80%;
    min-height: 300px;

    @media (max-width: $screen-sm-min) {
      height: auto;
    }

  }

}

.flex-centered {
  display: flex;
  align-items: center;
}

.padded {
  padding: 30px;
}

.container {
  max-width: 1440px;
}

.page-container.culture-stories {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-white;

  .col-md-6 {
    min-height: 500px;
  }

  .row {
    @media (min-width: $screen-md-min) {
      min-height: 555px;
      padding-bottom: 0;

      @include ie10-and-up {
        height: 555px;
      }
    }
  }

  .culture-text-container {
    width: 85%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
  }

  .left-right-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container {
    width: 100%;
    font-size: 18px;
  }

  h4 {
    @include font-weight-bold;
    margin-bottom: 0;
    color: $team-content-color;
    font-size: 16px;
  }

  h3 {
    $lt-color: #292929;
    @include accent-font-regular;
    margin-top: 15px;
    color: $lt-color;
    font-size: 24px;
    line-height: (40 / 30);

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }
}

/* container styling for jobs/apply page */
.listing-container {
  width: 80%;
  font-size: 18px;
  padding: 80px 0;

  .container {
    .no-margin-left {
      margin-left: 0;
    }
  }

  @media (max-width: $screen-md-min) {
    width: 100%;
  }
}
